@import 'geral.css';



.content-main {
    text-align: center;
}

.main-heading {
    font-size: 32px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 900;
    line-height: 47.52px;
    color: var(--color-black);
    margin-top: 5rem;
}

.sub-heading {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-black);
    margin: 1rem 0 3rem 0;
}

.proteinList,
.brothList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

.item-container {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 320px;
    height: 316px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    cursor: pointer;
    padding: 20px;
    transition: all 0.3s ease-in-out;
}

.item-container:hover {
    transform: scale(1.03);
    background-color: var(--color-blue);
}

.item-container:hover .broth-name,
.item-container:hover .protein-name,
.item-container:hover .broth-description,
.item-container:hover .protein-description {
    color: var(--color-white);
}

.item-container:hover .broth-price,
.item-container:hover .protein-price {
    color: var(--color-yellow);
}

.item-container.active .broth-name,
.item-container.active .protein-name,
.item-container.active .broth-description,
.item-container.active .protein-description {
    color: var(--color-white);
}

.item-container.active .broth-price,
.item-container.active .protein-price {
    color: var(--color-yellow);
}

.item-container.active {
    background-color: var(--color-blue);
}

.item-container:hover .broth-price,
.item-container:hover .protein-price {
    color: var(--color-yellow);
}

.item-container.selected .protein-name,
.item-container.selected .protein-description {
    color: var(--color-white);
}

.item-container.selected .protein-price {
    color: var(--color-yellow);
}

.item-container.selected {
    background-color: var(--color-blue);
}

.item-container img {
    max-width: 100%;
    max-height: 50%;
}

.broth-name,
.protein-name {
    font-size: 24px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 900 !important;
    line-height: 35.28px;
    color: var(--color-blue);
    margin-top: 1rem;
    transition: color 0.3s ease-in-out;
}

.broth-description,
.protein-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: var(--color-black);
    margin-top: 1rem;
}

.broth-price,
.protein-price {
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    color: var(--color-red);
    margin-top: 1rem;
}

.btn-request {
    display: flex;
    justify-content: center;
    margin: 5rem 0;
}

.place-order {
    padding: 18px 1rem;
    background-color: var(--color-blue);
    border: none;
    border-radius: 50px;
    color: var(--color-white);
    font-size: 14px;
    font-weight: 800;
    line-height: 20.79px;
    letter-spacing: 1.78px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: background-color 0.2s;
}

.place-order:hover {
    background-color: #1a20c5;
}

.place-order.disabled {
    padding: 18px 1rem;
    background-color: var(--color-gray);
    border: none;
    border-radius: 50px;
    color: var(--color-white);
    font-size: 14px;
    font-weight: 800;
    line-height: 20.79px;
    letter-spacing: 1.78px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: background-color 0.2s;
}



@media (max-width: 745px) {
    .proteinList,
    .brothList {
        width: 100%;
        display: flex;
        gap: 10px;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .item-container {
        flex: 0 0 calc(100% - 40px);
    }

    .slide {
        overflow: hidden;
    }
    
    .dots {
        text-align: center;
        margin-top: 20px;
    }
    
    .dot {
        display: inline-block;
        height: 12px;
        width: 12px;
        background-color: #E0DBBF;
        border-radius: 50%;
        margin: 0 5px;
        cursor: pointer;
        transition: background-color 0.5s;
    }
    
    .dot.active-dot {
        background-color: var(--color-red);
        width: 36px;
        border-radius: 12px;
    }

   
}
